.pagination {
  display: flex;
  justify-content: space-around;
  font-family: "Roboto", sans-serif;
  color: #474955;
}

.pagination__nav-button {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  font-weight: 500;
}

.pagination__page-link {
  all: unset;
  cursor: pointer;
  margin: 0 5px;
  font-size: 18px;
  font-style: oblique;
  font-weight: 700;
}

.pagination__page-link_current {
  color: #7ebc3c;
}